<mat-toolbar color="black" >

  <img class="logo-icon">

  <div class="spacer"></div>

  <button mat-icon-button class="example-icon favorite-icon" color="primary" aria-label="Example icon-button with heart icon">
    <mat-icon >alarm_on</mat-icon>
  </button>

  <div class="button-spacer"></div>

  <button type=button mat-icon-button class="example-icon" color="primary" aria-label="Example icon-button with share icon" (click)=" changeVisibility()">
    <mat-icon>account_circle</mat-icon>
  </button>

  <div *ngIf="logoutVisible" class="logout-window">
    <div class="username">
      {{username}}
    </div>
    <div class="email">
      {{email}}
    </div>
    <button type="button" class="logout-button" (click)="logout()" mat-raised-button color="primary" > {{'header.log-out' | translate }}</button>
  </div>

</mat-toolbar>
