@import "../../../custom-theme.scss";

.spacer {
  flex: 0.95 1 auto;
}
.button-spacer{
  flex: 0.025 0 auto;
}

.logo-icon{
  position: relative;
  content: url("../../../assets/images/small-logo.png");
  max-height: 80px;
}

.mat-toolbar{
  height: 80px;
  background-color: #333333;
}

.mat-icon{
  font-size: 30px;
}

.logout-window{
  position: absolute;
  background-color: #333333;
  width: fit-content;
  height: 110px;
  right: 2em;
  top: 4em;
  border-radius: 15px;
  box-shadow: (4px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 3;
}

.username{
  color: $primary;
  font: 400 18px/16px Roboto, "Helvetica Neue", sans-serif;
  margin: 10px;
}

.email{
  margin: 10px;
  color: whitesmoke;
  font: 300 16px/12px Roboto, "Helvetica Neue", sans-serif;
}
.logout-button{
  margin-left: 10px;
}
