<mat-toolbar color="black" *ngIf="isLoggedIn">

  <img class="logo-icon">

  <div class="spacer"></div>

  <button mat-icon-button class="example-icon favorite-icon" color="primary" aria-label="Example icon-button with heart icon">
    <mat-icon >alarm_on</mat-icon>
  </button>

  <div class="button-spacer"></div>

  <button type=button mat-icon-button class="example-icon" color="primary" aria-label="Example icon-button with share icon" (click)="logout()">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
