.sidemenu {
  flex: 0.5 0 auto;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background: #FAFAFA;
  align-items: normal;
  padding: 0;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

.sidemenu hr{
  width: 100%;
  color: black;
}
