@import "../../../../custom-theme.scss";

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-top: 10px;
  margin-left: 20px;
  font: 400 16px/16px Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  overflow: auto;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}



.element-row:not(.expanded):hover {
  background: #f5f5f5;
}


.element-row.expanded {
  border-bottom-color: transparent;
}

.expanded-description{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.description-spacer{
  flex: 0 0 52.5%;
}
.mat-raised-button{
  height: 32px;
  position: relative;
  top: 5%;
}

.mat-chip.mat-standard-chip{
  background-color: rgba(#6200EE, 0.1);
  color: #20E574; //theme success color TODO override color scheme of orange and green.
  font: 400 14px/16px Roboto, "Helvetica Neue", sans-serif;
}

.mat-header-cell, mat-cell {
  justify-content: center;
}
.mat-cell{
  padding: 0px;
}

.text-description{
  flex-direction: column;
  font: 300 14px/16px Roboto, "Helvetica Neue", sans-serif;
  margin: 10px;
  position: relative;
  left: 7.5%;
  width: 500px;
}

.meeting-title{
  font: 400 15px/14px Roboto, "Helvetica Neue", sans-serif;
  color: black;
}

.mat-chip-list{
  margin: 4px !important;
  position: relative;
  width: 50px;
}
.find-meeting{
  display: flex;
  margin: 25px;
  height: 50px;
}

.mat-raised-button{
  margin: 10px;
}

.mat-row:nth-child(odd){
  background-color: #e7e4e4;
}

.mat-row{
  border-radius: 10px;
}

:host{
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
