<div class="find-meeting">
  <p>
    <mat-form-field appearance="outline" >
      <mat-label>{{'meeting.find-meeting-by-name' | translate}} </mat-label>
      <input matInput placeholder ="{{ 'meeting.search' | translate}}" autocomplete="off" #input >
    </mat-form-field>
  </p>
</div>

<div class="example-container" >
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort
             matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> {{'meeting.id' | translate}}  </mat-header-cell>
      <mat-cell *matCellDef="let meeting"> {{meeting.idMeeting}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef > {{ 'meetings.name' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let meeting"> {{meeting.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef > {{ 'meetings.status' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let meeting">

        <mat-chip class="chip" color="gray" selected> {{ 'meetings.active-state'| translate }}
        </mat-chip>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> {{ 'meetings.date' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let meeting">
        {{meeting.date | date }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedMeeting" >
      <mat-cell *matCellDef="let detail" >
        <div class="expanded-description ">
          <div class="text-description">
            <div class="meeting-title">
            Title: {{detail.meeting.name}}
            </div>
            <mat-chip-list>
              <mat-chip class="chip" color="$success" selected>  {{ 'meetings.active-state'| translate }}
              </mat-chip>
            </mat-chip-list>
<!--
            <div class="meeting-desc">
            Description: {{detail.meeting.description}}
              <br>
              {{detail.meeting.date | date }}
            </div>
        -->

            <div>
              {{ 'meetings.invited-participants'| translate }}
              {{detail.meeting.participants}}
            </div>
          </div>

         <span class="description-spacer"></span>
        <button mat-raised-button color="primary" (click)="joinMeeting(detail.meeting)">{{ 'meetings.join'| translate }}</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [class.expanded]="expandedMeeting == row"
             (click)="expandedMeeting = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedMeeting']; when: isExpansionDetailRow"
             [@detailExpand]="row.meeting == expandedMeeting ? 'expanded' : 'collapsed'"
             style="overflow: hidden">
    </mat-row>
  </mat-table>

  <mat-paginator class = "contact-paginator"
                 [pageSize]="defaultPageSize"
                 [pageSizeOptions]="[5,6]"
                 >
    <!-- TODO length, relate pagesizeoptions and screen size,-->
  </mat-paginator>
</div>
