<div class="find-meeting">
  <p>
    <mat-form-field appearance="outline" >
      <mat-label>Find meeting</mat-label>
      <input matInput placeholder="Search" autocomplete="off" #input >
    </mat-form-field>
  </p>
</div>

<div class="example-container" >

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort
             matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let meeting"> {{meeting.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
      <mat-cell *matCellDef="let meeting"> {{meeting.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef > Status </mat-header-cell>
      <mat-cell *matCellDef="let meeting">

        <mat-chip-list>
        <mat-chip class="chip" color="$success" selected> {{meeting.status}}
        </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let meeting">
        {{meeting.date | date }}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="expandedMeeting" >
      <mat-cell *matCellDef="let detail" >
        <div class="expanded-description ">
          <div class="text-description">
            <div class="meeting-title">
            {{detail.meeting.name}}
            </div>

            <mat-chip-list>
              <mat-chip class="chip" color="$success" selected> {{detail.meeting.status}}
              </mat-chip>
            </mat-chip-list>

            <div class="meeting-desc">
            {{detail.meeting.description}}
              <br>
              {{detail.meeting.date | date }}
            </div>
          </div>
         <span class="description-spacer"></span>
        <button mat-raised-button color="primary">Join</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [class.expanded]="expandedMeeting == row"
             (click)="expandedMeeting = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedMeeting']; when: isExpansionDetailRow"
             [@detailExpand]="row.meeting == expandedMeeting ? 'expanded' : 'collapsed'"
             style="overflow: hidden">
    </mat-row>
  </mat-table>

  <mat-paginator class = "contact-paginator"
                 [length]=10
                 [pageSize]="3"
                 [pageSizeOptions]="[3,6]"
                 [hidePageSize]="true">
    <!-- TODO length, relate pagesizeoptions and screen size,-->
  </mat-paginator>

</div>
