<aside class="mdc-drawer">
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      <a class="mdc-list-item" href="/meetings" routerLinkActive="active">
        <span class="mdc-list-item__ripple"></span>
        <span class="menu-icon-spacer"></span>
        <i class="material-icons mdc-list-item__graphic" >videocam</i>
        <span class="menu-item-spacer"></span>
        <span class="mdc-list-item__text">Meetings</span>
      </a>
      <a class="mdc-list-item"  href="/contacts" routerLinkActive="active"  >
        <span class="mdc-list-item__ripple"></span>
        <span class="menu-icon-spacer"></span>
        <i class="material-icons mdc-list-item__graphic" >people_outline</i>
        <span class="menu-item-spacer"></span>
        <span class="mdc-list-item__text">Contacts</span>
      </a>
      <a class="mdc-list-item"  href="/settings" routerLinkActive="active">
        <span class="mdc-list-item__ripple"></span>
        <span class="menu-icon-spacer"></span>
        <i class="material-icons mdc-list-item__graphic" >settings</i>
        <span class="menu-item-spacer"></span>
        <span class="mdc-list-item__text">Settings</span>
      </a>
    </nav>
  </div>
</aside>
