<aside class="mdc-drawer">
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      <a class="mdc-list-item mdc-ripple-upgraded" routerLink="/meetings" routerLinkActive="active">
          <span class="menu-icon-spacer"></span>
          <i class="material-icons mdc-list-item__graphic" >videocam</i>
          <span class="menu-item-spacer"></span>
          <span class="mdc-list-item__text">{{'navigation.meetings' | translate }}</span>
      </a>
      <a class="mdc-list-item mdc-ripple-upgraded"  routerLink="/contacts" routerLinkActive="active"  >
        <span class="menu-icon-spacer"></span>
        <i class="material-icons mdc-list-item__graphic" >people_outline</i>
        <span class="menu-item-spacer"></span>
        <span class="mdc-list-item__text">{{'navigation.contacts' | translate }}</span>
      </a>

      <a class="mdc-list-item mdc-ripple-upgraded" routerLink="/calendar" routerLinkActive="active">
        <span class="mdc-list-item__ripple"></span>
        <span class="menu-icon-spacer"></span>
        <i class="material-icons mdc-list-item__graphic" >date_range</i>
        <span class="menu-item-spacer"></span>
        <span class="mdc-list-item__text">{{'navigation.calendar' | translate }}</span>
      </a>

      <a class="mdc-list-item mdc-ripple-upgraded" routerLink="/settings" routerLinkActive="active">
        <span class="mdc-list-item__ripple"></span>
        <span class="menu-icon-spacer"></span>
        <i class="material-icons mdc-list-item__graphic" >settings</i>
        <span class="menu-item-spacer"></span>
        <span class="mdc-list-item__text">{{'navigation.settings' | translate }}</span>
      </a>

    </nav>
  </div>
</aside>
