<div>
<app-header></app-header>

<div class="main-content">
  <app-side-nav-bar></app-side-nav-bar>

  <div class="meetings-style">

    <h1>{{'meetings.title' | translate}}</h1>

    <app-meetings-list></app-meetings-list>

    <div class="create-meeting">

      <span class="create-spacer"></span>

      <div class="create-or-join">
        <button  class="create-button" mat-raised-button color="primary" (click)="createMeeting()"> {{ 'meetings.create'| translate }}</button>

        <button mat-button class="create-button" color="primary">
          <div class="text-button" (click)="joinMeeting()" >{{ 'meetings.join-with-id'| translate }}</div>
        </button>
      </div>

    </div>

  </div>

</div>
</div>

