<div class="main-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" >
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div class="button">
      <button type="submit" mat-raised-button color="primary">Sign up</button>
    </div>
    <div class="spacer"></div>
    <button mat-button>
      <div class="button-text">
      Forgot password?
      </div>
    </button>

  </form>
</div>
