<div class="main-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" required>
        <mat-error *ngIf="form.get('username')?.invalid">Complete field</mat-error>

      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" >
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" (submit)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.invalid">Password should contain at least 8 characters.</mat-error>

      </mat-form-field>
    </p>

    <p *ngIf="errorMessage" class="error">
      Didn't find user for entered username and password.
    </p>



    <div class="button">
      <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted" >Sign up</button>
    </div>
    <div class="spacer"></div>


    <button mat-button>
      <div class="button-text">
      Forgot password?
      </div>
    </button>


    <button mat-button>
      <div class="button-text" (click)="goToCreateAccount()">
        Create account
      </div>
    </button>

  </form>
</div>
