<div>
  <app-header></app-header>

  <div class="main-content">
    <app-side-nav-bar></app-side-nav-bar>

<div class="settings">

<h1>Account <br>configurations </h1>
<hr>
  <! -- TODO replace with  mat-divider -->
  <mat-list role="list">
    <mat-list-item role="listitem">
        <div class="setting-text">
            Select output device:
        </div>
      <span class="output-device-spacer"></span>
      <mat-form-field>
        <mat-label>Output device</mat-label>
        <mat-select >
          <mat-option *ngFor="let device of availableDevices" [value]="device">
            {{device}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="setting-text">
        Change profile picture:
      </div>
      <span class="change-picture-spacer"></span>
      <button type="button" mat-raised-button (click)="fileInput.click()">{{fileInput.name}}</button>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" name="Choose File">
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="setting-text">
        Setting 3:
      </div>
      <span class="default-spacer"></span>
      <mat-slide-toggle
        color="primary"
        class="example-margin">
      </mat-slide-toggle>
    </mat-list-item>
  </mat-list>


  <div class="bottom-bar">
    <span class="bottom-bar-spacer"></span>
    <button class = "save-button" mat-raised-button color="primary">Save</button>
  </div>

</div>
  </div>
</div>
