<div class="main">
  <app-header></app-header>

  <div class="main-content">
    <app-side-nav-bar></app-side-nav-bar>

<div class="settings">

<h1> {{'settings.title' | translate }} </h1>
<hr>
  <div class="container" >
  <mat-list role="list">

    <mat-list-item role="listitem">
      <div class="setting-text">
        {{'settings.change-profile-picture' | translate }}
      </div>
      <span class="change-picture-spacer"></span>
      <button type="button" mat-raised-button (click)="fileInput.click()">{{fileInput.name}}</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" name="{{'settings.choose-file' | translate }}">
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="setting-text">
        {{'settings.default-microphone-on' | translate }}
      </div>
      <span class="default-spacer"></span>
      <mat-slide-toggle
        [(ngModel)]="micOn"
        color="primary"
        class="example-margin">
      </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item role="listitem">
      <div class="setting-text">
        {{'settings.default-camera-on' | translate }}
      </div>
      <span class="default-spacer"></span>
      <mat-slide-toggle
        [(ngModel)]="cameraOn"
        color="primary"
        class="example-margin">
      </mat-slide-toggle>
    </mat-list-item>


    <mat-list-item role="listitem">
      <div class="setting-text">
        {{'settings.is-private' | translate }}
      </div>
      <span class="default-spacer"></span>
      <mat-slide-toggle
        [(ngModel)]="isPrivate"
        color="primary"
        class="example-margin">
      </mat-slide-toggle>
    </mat-list-item>

  </mat-list>
  </div>


  <div class="bottom-bar" id="test">
    <span class="bottom-bar-spacer"></span>
    <div class="column">
    <button class = "save-button" mat-raised-button color="primary" [disabled]="raiseError"  (click)="saveSettings()">
      {{'settings.save-button' | translate }}
    </button>

      <p  *ngIf="raiseError" class="error">
        {{'settings.incorrect-format' | translate }}
      </p>
    <p  *ngIf="displaySuccess" class="success">
      {{'settings.saved-success' | translate }}
    </p>
    </div>
  </div>
</div>
  </div>
</div>
