.settings{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.default-spacer{
  flex: 0 0 80%;
}

.output-device-spacer{
  flex: 0 0 75%;
}

.bottom-bar-spacer{
  flex: 0 0 80%;
}
.change-picture-spacer{
  flex: 0 0 74.35%;
}

.main-content{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

.mat-list-item{
  width: 300px;
}
.right-side{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.bottom-bar{
  display: flex;
  flex-direction: row;
}
.mat-list-item{
  display: flex;
  flex-direction: row;
  border-bottom-color: #E0DFDF;
  border-bottom-width: 1px ;
  border-bottom-style: solid ;
}

.save-button{
  margin: 30px;
}
.mat-slide-toggle{
  margin-right: 40px;
}
.mat-raised-button{
  width: 200px;
}

.mat-ripple-element {
  background-color: #FEC994;
}
.settings h1{
  margin: 15px;font: 400 32px/32px Roboto, "Helvetica Neue", sans-serif;
}
.setting-text{
  width: 420px;
  flex-grow: 1;}

:host{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.success{
  margin: 5px;
  font: 300 14px/12px Roboto, "Helvetica Neue", sans-serif;
  color: #37a24e;
}

.container{
  border-radius: 15px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  margin: 15px;
}
