.settings{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.default-spacer{
  flex: 0 0 80%;
}

.output-device-spacer{
  flex: 0 0 75%;
}

.bottom-bar-spacer{
  flex: 0 0 80%;
}
.change-picture-spacer{
  flex: 0 0 74.35%;
}

.main-content{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

.right-side{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.bottom-bar{
  display: flex;
  flex-direction: row;
}
.mat-list-item{
  display: flex;
  flex-direction: row;
  border-bottom-color: #E0DFDF;
  border-bottom-width: 1px ;
  border-bottom-style: solid ;
}

.save-button{
  margin: 30px;
}

.mat-raised-button{
  width: 200px;
}

.mat-ripple-element {
  background-color: #FEC994;
}
.settings h1{
  margin: 15px;
  font: 400 32px/32px Roboto, "Helvetica Neue", sans-serif;
}
.setting-text{
  min-width: 120px;
}

:host{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
