<div>
  <app-header></app-header>

  <div class="main-content">
    <app-side-nav-bar></app-side-nav-bar>

<div class="settings">

<h1>Account <br>configurations </h1>
<hr>
  <! -- TODO replace with  mat-divider -->
  <mat-list role="list">

    <mat-list-item role="listitem">
      <div class="setting-text">
        Change profile picture:
      </div>
      <span class="change-picture-spacer"></span>
      <button type="button" mat-raised-button (click)="fileInput.click()">{{fileInput.name}}</button>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" name="Choose File">
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="setting-text">
        Default camera microphone on:
      </div>
      <span class="default-spacer"></span>
      <mat-slide-toggle
        [(ngModel)]="micOn"
        color="primary"
        class="example-margin">
      </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item role="listitem">
      <div class="setting-text">
        Default camera on:
      </div>
      <span class="default-spacer"></span>
      <mat-slide-toggle
        [(ngModel)]="cameraOn"
        color="primary"
        class="example-margin">
      </mat-slide-toggle>
    </mat-list-item>
  </mat-list>




  <div class="bottom-bar">
    <span class="bottom-bar-spacer"></span>
    <div class="column">
    <button class = "save-button" mat-raised-button color="primary" (click)="saveSettings()">Save</button>
    <p *ngIf="displaySuccess" class="success">
      Your settings were successfully saved.
    </p>
    </div>
  </div>

</div>
  </div>
</div>
