<!--
Autorzy kodu źródłowego: Bartosz Panuś
Kod został utworzony w ramach kursu Projekt Zespołowy
na Politechnice Wrocławskiej
-->
<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kaliber</title>
        <link rel="stylesheet" th:href="@{/style.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:class="border">
            <img th:class="logo" th:src="@{/logoV1res.png}">
            <div th:class="msg" th:text="${msg}" >
            </div>
        </div>
    </body>
</html>