<div class="main-container">
  <div class="images-holder">
    <div class="login-main-image"></div>
  </div>

  <div class="login-content-box">
    <div class="sub-bar">
      <span class="bar-space"></span>
    </div>

    <div class="centering">
      <div>
        <div class="spacer"></div>

        <div class="centered-image">
          <div class="login-small-logo"></div>
        </div>

        <div class="spacer"></div>

        <app-registration-form></app-registration-form>
      </div>
    </div>

  </div>



</div>
