<div class="main">
  <app-header></app-header>

  <div class="main-content">
    <app-side-nav-bar></app-side-nav-bar>

  <div class="main-style">
      <div class=" row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <button
              mat-raised-button
              class="btn btn-primary"
              color="primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              {{ 'calendar.previous' | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate"
            >
              {{ 'calendar.today' | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              {{ 'calendar.next' | translate}}
            </button>

            <span class="spacer "></span>

            <div class="col-md-4 date">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}</h3>
            </div>

            <span class="spacer "></span>

            <button
              mat-raised-button
              color="primary"
              class="btn btn-primary"
              (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month"
            >
              {{ 'calendar.month' | translate}}
            </button>
            <button
              mat-raised-button
              color="primary"
              class="btn btn-primary"
              (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week"
            >
              {{ 'calendar.week' | translate}}
            </button>
            <button
              mat-raised-button
              color="primary"
              class="btn btn-primary"
              (click)="setView(CalendarView.Day)"
              [class.active]="view === CalendarView.Day"
            >
              {{ 'calendar.day' | translate}}
            </button>
          </div>
        </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [locale] = "locale"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [locale] = "locale"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [locale] = "locale"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </div>

    </div>
  </div>
</div>

