
h3 {
  margin: 0 0 10px;
  width: 150px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.main-style{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px;
  overflow-y: scroll;
}
:host{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.spacer{
  flex: 0 0 23%;
}
.cal-month-view{
  font: 400 22px/16px Roboto, "Helvetica Neue", sans-serif;
}

.h3{
  font: 400 32px/32px Roboto, "Helvetica Neue", sans-serif
}

.main-content{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

.right-side{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.btn-group{
  display: flex;
  flex-direction: row;
}

.row{
  width: 100%;
}
.mat-raised-button {
  margin: 10px;
}
.date{
  margin: 10px;
}

