<div class="find-contact">
  <p>
    <mat-form-field appearance="outline" >
      <mat-label>Find user</mat-label>
      <input matInput placeholder="Search" autocomplete="off" #input >
    </mat-form-field>
  </p>
</div>

<div class="example-container" >

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort
             matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let contact">
        <img class="table-image" src="{{imagePlaceholder}}"/>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.firstName}} {{contact.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.eMail}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="checked">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let contact">
        <mat-checkbox [(ngModel)]="contact.checked" color="primary"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row">
    </mat-row>
  </mat-table>

  <mat-paginator class = "contact-paginator"
                 [pageSize]="5"
                 [pageSizeOptions]="[5,8]"
  >
    <!-- TODO length, relate pagesizeoptions and screen size,-->
  </mat-paginator>
</div>

<p class="persons-counter">
  Options selected: 1
</p>


