.bottom-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.bottom-spacer{
  flex: 0 0 65%;
}
.mat-card{
  display: flex;
  flex: 0 0 20%;
  margin: 0 0 0 10px;
}

.mat-raised-button{
  height: 40px;
}
