
@import '~@angular/material/theming';
@include mat-core();

$orange-meet-primary: mat-palette($mat-deep-orange,  700, A100, A600);
$mat-ripple-color: mat-palette($mat-orange,  A100, A100, A400);
$orange-meet-accent: mat-palette($mat-deep-orange, A200, A100, A400);
$orange-meet-warn: mat-palette($mat-red, 800, A100, A600);
$orange-meet-success: mat-palette($mat-light-green, 600);

$primary: mat-color($orange-meet-primary);
$accent: mat-color($orange-meet-accent);
$warn: mat-color($orange-meet-warn);
$ripple: mat-color($mat-ripple-color);
$success: mat-color($orange-meet-success);

$orange-meet-theme: mat-light-theme((
  color: (
    primary: $orange-meet-primary,
    accent: $orange-meet-accent,
    warn: $orange-meet-warn,
    black: mat-palette($mat-gray),
    success: $orange-meet-success
  )
));

@include angular-material-theme($orange-meet-theme);

