/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

html, body {
  height: 100%;
  overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$primary: mat-palette($mat-orange, 500, 900, A100);
$accent:  mat-palette($mat-orange, 500, 900, A100);
$warn:    mat-palette($mat-deep-orange);

@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: #FEC994;
  }
}
