<div class="add-user">
  <h1> Contacts</h1>

  <div class="sub-container">

  <form class='add-user-form' [formGroup]="form" (ngSubmit)="submit()" >
      <mat-form-field class="full-width">
        <mat-label>Find new contact</mat-label>
        <input type="text"
               aria-label="Name"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
              >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let y of filterUsers | async" [value]="y.userName">
             {{ '' + y.firstName + ' ' + y.lastName + ' (' + y.eMail + ')' }}
          </mat-option>

        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button  class="add-button " color="primary" >Add contact</button>
      </form>
  </div>

  <p *ngIf="!hide"> {{ errorMessage? errorText: responseText }} </p>

</div>

